.col-centered {
    float: none;
    margin: 0 auto;
}

.popup img {
	height: 60px;
	float: left;
	margin-right: 10px; 
}

.close-link {
	padding-left: 1em;
	text-decoration: underline;
	font-weight: bold;
}

#container {
	height: 550px;
}

#legend td {
    padding: 5px;
}
.swatch {
    height: 1em;
    width: 1em;
    background: rgba(0,0,0,0.6);
}

#colorbar {
	width: 200px;
	height: 1em;
}
